.min_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}
.last_arrow{
    display: none;
    position: absolute;
    z-index: 999;
    width: 7Vw;
    left: 3%;
    top: calc(50% - 3.5Vw);
    transform: rotate(180deg);
}
.next_arrow {
    display: none;
    position: absolute;
    z-index: 999;
    width: 7Vw;
    right: 3%;
    top: calc(50% - 3.5Vw);
}

.next_arrow img {
    width: inherit;
}
.last_arrow img {
    width: inherit;
}
@media(max-width:763px) {
    .next_arrow {
        display: block;
    }
    .last_arrow {
        display: block;
    }
}

.photo_card {
    margin: 0.5rem;
    display: flex;
    position: relative;
    overflow: hidden;
}

.photo_card img {
    cursor: zoom-in;
    max-height: 100%;
    max-width: 100%;
}
@media(max-width:763px) {
    .photo_card{
        margin: 0px;
        padding: 5rem;
    }
    .photo_card img {
        cursor: auto;
    }
}

.photo_card:hover p {
    visibility: visible;
    opacity: 1;
}

.photo_card p {
    user-select: none;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0%;
    color: aliceblue;
    width: 100%;
    background: #00000080;
    box-shadow: 0px 0px 50px 50px #00000080;
    padding: 0.5rem;
}

.photo_card.show .full_photo {
    visibility: visible;
    opacity: 1;
}

.full_photo {
    background-color: black;
    transition: 0.5s;
    opacity: 0;
    position: fixed;
    width: 100%;
    bottom: 0%;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    visibility: hidden;
}
.full_photo img{
    cursor: auto;
}
.full_photo div {
    overflow: hidden;
    height: 80%;
    position: relative;
}
.full_photo p {
    opacity: 1;
    visibility: visible;
}

/* svg 叉叉 */
.cross {
    padding: 1rem;
    position: absolute;
    width: 4rem;
    left: 0%;
    top: 0%;
    z-index: 999;
}

.cross img {
    cursor: pointer;
}

@media(max-width:992px) {
    .cross {
        width: 3.5rem;
    }
}

@media(max-width:579px) {
    .cross {
        width: 3rem;
    }
}

@media(max-width:763px) {
    .photo_card.show .full_photo{
        display: none;
    }

    .photo_card {
        display: none;
    }

    .photo_card.min_show {
        display: flex;
        height: 80vh;
        width: 100%;
        background: black;
        justify-content: center;
        align-items: center;
    }
    .photo_card p{
        text-align: center;
        visibility: visible;
        opacity: 1;
    }
}
/*photo_array.css*/


#photo_array {
    max-width: 80%;
    margin: 0px auto;
    display: flex;
}

.photo_list {
    position: relative;
    max-width: 33%;
}

.min_photo_title {
    display: none;
    z-index: 1;
    text-align: center;
    font-size: 2rem;
    color: aliceblue;
    position: absolute;
    margin: 1rem;
    top: 0%;
    user-select: none;
}

@media(max-width:763px) {
    .photo_list {
        max-width: 100%;
    }

    #photo_array {
        max-width: 100%;
        flex-direction: column;
    }

    .min_photo_title {
        display: block;
    }

    .min_photo_title::after {
        position: absolute;
        content: "";
        box-shadow: 0px 0px 6px 3px #aed4e2;
        left: 0%;
        width: 100%;
        bottom: -40%;
    }
}
/*footer*/
#creator_introduce{
    margin: 3rem auto;
    max-width: 80%;
    display: flex;
}
#creator_introduce *{
    flex: 1;
}
#creator_introduce a{
    text-align: end;
}